:root {
    /* color */
    --red-highlight: #D2483D;
    --light-grey:#F3F3F3;
    --white:#FFFFFF;
    --black:#000000;
    /* Police */
        /* Text configuration */
        --body-font: 'Montserrat';
        --body-highlight-font: 'Montserrat';
        --header-font: 'Bebas Neue';
        --title-font: 'Bebas Neue';
    
        --body-font-weight: 400;
        --body-highlight-font-weight: 600;
        --header-font-weight: 400;
        --title-font-weight: 400;
    
        --body-font-size: 1.25rem;
        --body-highlight-font-size: 1.25rem;
        --header-font-size: 4.5rem;
        --title-font-size: 1.5rem;
    
        --body-line-height: 1.5rem;
        --body-highlight-line-height: 1.5rem;
        --header-line-height: 5.375rem;
        --title-line-height: 1.75rem;
}
h1 {
    font-family: var(--header-font) ;
    font-size: var(--header-font-size);
    line-height: var(--body-highlight-line-height);
    font-weight: var(--header-font-weight);
}
h2, a {
    font-family: var(--header-font) ;
    font-size: var(--title-font-size);
    line-height: var(--body-highlight-line-height);
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--red-highlight);
    text-decoration-thickness: 3px;
    text-underline-offset: 4px;
}
p {
    font-family: var(--body-font);
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
    font-weight: var(--body-font-weight);
}